<title>Generaali foorumi nro 428</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<b><a href="/personal">Takaisin</a></b>
<h1>Käyttäjä: {{session.username}}</h1>
<br>
{% if error %}
  <h2 style="color:red">{{error_msg}}</h2>
{% endif %}
<h2>Syötä salasanat</h2><br><br>
<form action="/changepass/confirm" method="POST">
    <label for="oldpass">Vanha salasana:</label><br>
    <input type="password" id="oldpass" name="oldpasswrd" value=""><br><br>
    <label for="newpass">Uusi salasana:</label><br>
    <input type="password" id="newpass" name="newpasswrd" value=""><br><br>
    <input type="submit" value="Vaihda">
    <br>
  </form>