<title><b>Generaali foorumi nro 428</b></title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<span>/area{{area.id}}/discussion{{discussion.id}}</span>
<br>
<b><a href="/area/{{ids[0]}}">Takaisin</a></b>
<h1>{{current_discussion.names}}:</h1>
{% if session.username %}
    <div width="200px" height="100px">Terve <a href="/personal">{{session.username}}</a>!</div><br>
    <p><a href="/logout">Kirjaudu ulos</a></p>
{% else %}
    <p><a href="/account">Kirjaudu</a></p>
{% endif %}
<br>
<ul>
{%for message in messages%}
<section>
<p style="border:2px solid aquamarine;" width="100" margin="20px">
<br>
{{message.content}}
<br>-------------------------------------------------------<br>
{{message.writer}}
<br>
</p></section>
{%endfor%}
</ul>
{% if session.username %}
    <section id="message"><button onclick=newmessage()>Lisää viesti</button></section>
{% endif %}
<script>
    function newmessage() {
        document.getElementById("message").innerHTML = "<h4>Uusi viesti</h4><button onclick=goback()>Peru</button><form action='area/'+ids[0]+'/discussion/'+ids[1]'/newmessage'' method='POST'><br><label for='body'>Viesti:</label><br><input type='text' id='body' name='bodyfield' value='' width='200px' height='200px'><br><br><input type='submit' value='Julkaise'><br></form>"
    }
</script>
<script>
    function goback() {
        document.getElementById("message").innerHTML = "<button onclick=newmessage()>Lisää viesti</button>"
    }
</script>