<title><b>Generaali foorumi nro 428</b></title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<h1>Keskustelualueet:</h1> 
{% if session.username %}
    <div width="200px" height="100px">Terve <a href="/personal">{{session.username}}</a>!</div><br>
    <p><a href="/logout">Kirjaudu ulos</a></p>
{% else %}
    <p><a href="/account">Kirjaudu</a></p>
{% endif %}
<br>
<ul>
{%for area in areas%}
<section>
<p style="border:2px solid aquamarine;" width="100" margin="20px">
<br>
<b>{{area.names}}</b><br>
<br>
<button onclick="document.location='/area/{{area.id}}'">Liity alueelle</button>
<br>
</p></section>
{%endfor%}
</ul>