<title>Generaali foorumi nro 428</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<br>
<b><a href="/area/{{ids[0]}}/discussion/{{ids[1]}}">Takaisin</a></b>
<h1>Viestit haulla "{{query}}":</h1>
{% if session.username %}
    <div>Terve {{session.username}}!</div>
    <div><a href="/personal">Käyttäjä</a></div>
    <p><a href="/logout">Kirjaudu ulos</a></p>
{% else %}
    <p><a href="/account">Kirjaudu</a></p>
{% endif %}
<b><hr></b>
<ul>
{%for message in messages%}
    <section>
    <p style="border:2px solid gray;" width="100" margin="20px">
    <br>
    {{message.content}}
    <br>-------------------------------------------------------<br>
    {{message.writer}}
    {% if session.username == message.writer %}
        <button onclick="document.location='/area/{{ids[0]}}/discussion/{{ids[1]}}/msg-delete{{message.id}}'">Poista viesti</button>
    {% endif %}
{% endfor %}
<br>
</p></section>