<title>Generaali foorumi nro 428</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% if id1 %}
    <b><a href="/area/{{id1}}">Takaisin</a></b>
{% else %}
    <b><a href="/">Takaisin</a></b>
{% endif %}
<h1>Keskustelut haulla "{{query}}":</h1>
{% if session.username %}
    <div>Terve {{session.username}}!</div>
    <div><a href="/personal">Käyttäjä</a></div>
    <p><a href="/logout">Kirjaudu ulos</a></p>
{% else %}
    <p><a href="/account">Kirjaudu</a></p>
{% endif %}
<br>
{%for discussion in discussions%}
<section>
<p style="border:2px solid gray;" width="100" margin="20px">
<br>
<b>{{discussion.names}}</b><br>
<br>
<button onclick="document.location='/get-to/discussion/{{discussion.id}}'">Keskusteluun</button>
<br>
</p></section>
{%endfor%}